@import 'variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Druk Wide';
    src: url(../fonts/Druk\ Wide\ Medium.otf);
}

body {
    position: relative;
    font-family: 'Montserrat', serif;
    background: #FFFFFF;
    width: 3099px;
    height: 2323px;
    margin: auto;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

a, button {
    text-decoration: none;
    cursor: pointer;
}

.flexBet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexCent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexEven {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mainDots {
    position: absolute;
    background: #1F2326;
    opacity: 0.5;
    border: 0;
}

.agent {
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Druk Wide', serif;
    text-align: center;
    letter-spacing: 0.1em;
    color: transparent;
    -webkit-text-stroke: 2px #FFFFFF;
}

.country {
    font-family: 'Druk Wide', serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.1em;
    color: #FF4656;
}