@import 'base.scss';


.cards {
    position: absolute;
    width: 2665px;
    height: 248px;
    @extend .flexEven;
    top: 1397px;
    left: -124px;
}

.card {
    height: 248px;
    background: #F8F8F8;
    border: 2px solid #000000;
   
}

.card:not(:last-child) {
    width: 724px;
    clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%, 0 6%);
    @extend .flexStart;
}

.card:last-child {
    width: 219px;
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%, 0 6%);
    @extend .flexCent;
}

.card .text {
    width: 49%;
    padding: 0 43px 0 58px;
}

.card .text h2 {
    font-family: 'Druk Wide', serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #C4C4C4;
}

.card .text h3 {
    font-family: 'Druk Wide', serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    padding: 32px 0;
}

.card .text article {
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #1F2326;
}

.card .images {
    position: relative;
}

.card .images img {
    position: absolute;
    top: -92px;
    right: -177px;
    z-index: 999;
}

.card .images div {
    position: absolute;
    top: -57px;
    right: -141px;
    width: 190px;
    height: 183px;
    background: #FF4656;
}